a{
    color:#fff;
    text-decoration: none;
}
.modal-body{
    text-align: center;
}
.modal-body .social{
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 6px;
    margin: 10px 10px 10px 10px;
}
.modal-body .fa-twitter{
    background: #00ccff;
    }
.modal-body .fa-linkedin{
    background: #0066cc;
}
.modal-body .fa-facebook{
    background: #0000ff;
}
.modal-body .fa-whatsapp{
    background: #00b300;
    }